/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

/* HEADER */
header {
    height: 70px;
    color: white;
    background-color: #ff6900;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
/* Menus */
header ul {
    display: flex;
}
header a {
    text-decoration: none;
    color: inherit;
}
.main-menu li {
    margin-right: 10px;
}
.main-menu a {
    font-weight: 700;
}
.user-menu li {
    margin-left: 10px;
}
/* Logo */
.logo img {
    width: 150px;
}

/* MAIN */
main {
    margin-top: 130px;
}
.all-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col {
    /* width: 32.5% */
    width: calc( ( 100% / 3 ) - 10px );
}

/* Card */
.card {
    margin-top: 30px;
}
/* Card image */
.product-image {
    position: relative;
}
.hover-image {
    display: none;
}
.product-image:hover .main-image {
    display: none;
}
.product-image:hover .hover-image {
    display: inline-block;
}
.heart {
    font-size: 32px;
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 3px 7px;
}
.heart:hover {
    color: red;
    cursor: pointer;
}
.labels {
    position: absolute;
    bottom: 40px;
    left: 0;
}
.label {
    color: white;
    padding: 5px;
    font-weight: 700;
}
.discount {
    background-color: red;
}
.sustainable {
    background-color: green;
}
/* Card info */
.brand {
    font-size: 14px;
}
.product-name {
    font-weight: 700;
    font-size: 13px;
}
.discounted-price {
    color: red;
    font-weight: 700;
}
.full-price {
    text-decoration: line-through;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    margin-top: 50px;
    padding: 30px 0;
}
.footer-columns {
    display: flex;
    justify-content: space-between;
}
.company-info {
    font-size: 18px;
    font-weight: 700;
}
.footer-menu {
    display: flex;
}
.footer-menu a {
    color: inherit;
    text-decoration: none;
    font-size: 13px;
}
.socials-title {
    font-weight: bold;
    margin-left: 10px;
}
.company-info .footer-menu li {
    margin-right: 10px;
}
.socials .footer-menu li {
    margin-left: 10px;
}
.socials .footer-menu a {
    font-size: 25px;
}